{% extends "Master/MenuTemplate.html.twig" %}

{% block body %}
    <div class="bg-light pt-4 pb-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="h2">
                        {% if fsc.working %}
                            <i class="fas fa-sync fa-spin fa-fw"></i>
                        {% else %}
                            <i class="fas fa-database fa-fw"></i>
                        {% endif %}
                        {{ i18n.trans('2017-migrator') }}
                    </h1>
                    <p>{{ i18n.trans('2017-migrator-paragraph') }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <ul>
                    {% for log in fsc.migrationLog %}
                        <li>
                            {{ log }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if fsc.enableRun %}
            <form method="post">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-warning" onclick="executeMigration();">
                            <i class="fas fa-terminal fa-fw"></i> {{ i18n.trans('run') }}
                        </button>
                    </div>
                </div>
            </form>
        {% endif %}
        {% if fsc.working %}
            <button class="btn btn-warning">
                <i class="fas fa-cog fa-spin fa-fw"></i> {{ i18n.trans('run') }}
            </button>
        {% endif %}
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        .bg-header {
            background-color: #FAFBFC;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function executeMigration() {
            bootbox.confirm({
                title: "{{ i18n.trans('confirm-migration') | raw }}",
                message: "{{ i18n.trans('are-you-sure-migration') }}",
                closeButton: false,
                buttons: {
                    cancel: {
                        label: "<i class='fas fa-times'></i> {{ i18n.trans('cancel') }}"
                    },
                    confirm: {
                        label: "<i class='fas fa-check'></i> {{ i18n.trans('continue') }}",
                        className: 'btn-warning'
                    }
                },
                callback: function (result) {
                    if (result) {
                        window.location = "{{fsc.url()}}?action=Inicio";
                    }
                }
            });
        }
    </script>
{% endblock %}