{% extends "Master/MenuBghTemplate.html.twig" %}

{% block body %}
    <div class="bg-light pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="h2">
                        {% if fsc.working %}
                            <i class="fas fa-sync fa-spin fa-fw"></i>
                        {% else %}
                            <i class="fas fa-database fa-fw"></i>
                        {% endif %}
                        {{ trans('2017-migrator') }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: -40px;">
        {% if fsc.migrationLog %}
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <ul class="mb-0">
                                {% for log in fsc.migrationLog %}
                                    <li>{{ log }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% if fsc.working %}
                            <div class="card-footer">
                                <button class="btn btn-warning">
                                    <i class="fas fa-cog fa-spin fa-fw"></i> {{ trans('run') }}
                                </button>
                            </div>
                        {% elseif fsc.findFileBackup() %}
                            <div class="card-footer">
                                <a class="btn btn-danger" href="{{ fsc.url() }}?action=remove-backup">
                                    <i class="fas fa-trash-alt fa-fw"></i> {{ trans('remove-backup') }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if fsc.enableRun %}
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-body">{{ trans('2017-migrator-paragraph') }}</div>
                        <div class="card-footer">
                            <form method="post">
                                <button type="button" class="btn btn-warning" onclick="executeMigration();">
                                    <i class="fas fa-terminal fa-fw"></i> {{ trans('run') }}
                                </button>
                            </form>
                        </div>
                    </div>
                    {% set filesBackup = fsc.findFileBackup() %}
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <h2 class="h5 card-title">
                                <i class="fas fa-save fa-fw"></i> {{ trans('files') }}
                            </h2>
                            <p class="card-text">{{ trans('2017-files-paragraph') }}</p>
                            {% if filesBackup %}
                                <div class="alert alert-success mb-0">
                                    <i class="fas fa-check fa-fw"></i> {{ trans('backup-found') }}
                                </div>
                            {% else %}
                                <div class="alert alert-warning mb-0">
                                    <i class="fas fa-times fa-fw"></i> {{ trans('backup-not-found') }}
                                </div>
                            {% endif %}
                        </div>
                        {% if filesBackup == false %}
                            <div class="card-footer">
                                <a href="{{ fsc.url() }}" class="btn btn-secondary">
                                    <i class="fas fa-redo fa-fw"></i> {{ trans('refresh') }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function executeMigration() {
            bootbox.confirm({
                title: "{{ trans('confirm-migration') | raw }}",
                message: "{{ trans('are-you-sure-migration') }}",
                closeButton: false,
                buttons: {
                    cancel: {
                        label: "<i class='fas fa-times'></i> {{ trans('cancel') }}"
                    },
                    confirm: {
                        label: "<i class='fas fa-check'></i> {{ trans('continue') }}",
                        className: 'btn-warning'
                    }
                },
                callback: function (result) {
                    if (result) {
                        window.location = "{{ fsc.url() }}?action=Inicio";
                    }
                }
            });
        }
    </script>
{% endblock %}